/* This css applies when minimum width of window is 600px */

@media all and (min-width: 600px)
{
	.container
	{
		margin:0 auto;
		width:90%;
		background: #fff;
	}

	header
	{
		padding: 20px;
		background: #ccc;
	}

	nav
	{
		float: left;
		width: 100%;
		background: #333;
	}

	nav ul li
	{
		list-style-type: none;
		display: inline;
	}

	nav ul li a
	{
		display: block;
		float: left;
		padding: 5px 10px;
		color: #fff;
		text-decoration: none;
		border: 1px solid #fff;
	}

	section
	{
		float: left;
		width: 65%;
		margin: 5px 5px 1px 5px;
		text-align: center;
	}

	aside
	{
		float: right;
		width: 30%;
		margin: 5px 5px 1px 5px;
		text-align: center;
	}

	footer
	{
		clear: both;
		height: 1%;
		padding: 20px;
		background: #247983;
	}
}

/* This css applies when width of window < 600px */

.container
{
	margin:0 auto;
	width:90%;
	background: #fff;
}

header
{
	padding: 20px;
	background: #ccc;
}


nav
{
	background: #333;
}

nav ul
{
	margin: 0;
	padding: 0;
}

nav ul li
{
	list-style-type: none;
	display: block;
}

nav ul li a
{
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	text-align: center;
}

nav ul li a:hover
{
	 background: #383;
}

.content
{
	min-height: 400px;
	background: #495D5F;
}

section
{
	min-height: 300px;
	border: white solid 1px;
	margin: 5px 5px 1px 5px;
	text-align: center;
}

aside
{
	min-height: 300px;
	border: white solid 1px;
	margin: 5px 5px 1px 5px;
	text-align: center;
}


footer
{
	clear: both;
	height: 1%;
	padding: 20px;
	background: #247983;
}
